<footer class="site-footer container">
    <div class="inner">
        &copy; {{ "now" | date("Y") }} {{ app.config.get('general/sitename') }}
    </div>
</footer>

<script src="{{ paths.theme }}js/jquery.min.js"></script>
<script src="{{ paths.theme }}js/foundation.js"></script>
<script src="{{ paths.theme }}js/app.js"></script>