{%- if image is empty -%}
    {%- set headerClass = random(theme.headerdefaultimages) -%}
    {%- set imageCredits = theme.headercredits -%}
{%- endif -%}

<div class="container title{% if headerClass is not empty %} {{ headerClass }}{% endif %}"
     {% if image is defined %} style="
            background-image: url('{{ image|thumbnail(1920, 0) }}');
            {% if imageVerticalAlignment is not empty %}background-position-y: {{ imageVerticalAlignment }}{% endif %}
        "{% endif %}>
    <div class="inner">
        <div class="title-block">
            {{ include('partials/meta_listing.twig') }}
            <h1 class="post-title">{{ title }}</h1>
        </div>
    </div>
    {% if imageCredits is empty %}
        <div class="toggleHeader" data-toggle="tooltip" data-placement="left" title="Vergroot/verklein de foto"></div>
    {% else %}
        <div class="image-credits">{{ imageCredits |raw }}</div>
    {% endif %}
</div>