<ul class="post-meta">
    {% if record.taxonomy.categories is defined %}
        {% for category in record.taxonomy.categories %}
            <li class="category" data-toggle="tooltip" title="Bekijk all recepten in categorie {{ category }}">
                <a href="/categories/{{ category | slug }}">{{ category }}</a>
            </li>
        {% endfor %}
    {% endif %}
    {% if record.taxonomy.tags is defined %}
        {% for tag in record.taxonomy.tags %}
            <li class="tag" data-toggle="tooltip" title="Bekijk alle recepten getagd met {{ tag }}">
                <a href="/tags/{{ tag }}" >{{ tag }}</a>
            </li>
        {% endfor %}
    {% endif %}
</ul>