{% extends 'partials/master.twig' %}

{% set title = record.title %}
{% set image = record.image %}
{% set imageVerticalAlignment = record.imageverticalalignment %}
{% set imageCredits = record.imagecredits %}

{% block main %}
    <article class="post">
        <div class="post-date">
            Geplaatst op:
            <time  datetime="{{ record.datecreated|date('Y-m-d')}}">
                {{ record.datecreated|localedatetime('%A %e %B %Y')|capitalize}}
            </time>
        </div>

        {% if image is not empty %}
            <img src="{{ image|thumbnail('cover') }}" class="printOnly" width="25%" />
        {% endif %}

        {% if record.ingredients is not empty %}
            <aside class="ingredients">
                <hr />
                <h1>Ingredi&euml;nten</h1>
                <div class="inner">
                    {{ record.ingredients }}
                </div>
                <hr />
            </aside>
        {% endif %}

        {{ record.body }}

        {% if record.recipecredits is not empty %}
            <div class="recipe-credits">{{ record.recipecredits }}</div>
        {% endif %}
    </article>
    {% set related = record.related() %}
    {% if related is not empty %}
        {% include 'partials/recipes_grid.twig' with {'records': related, 'heading': 'Ben je misschien ook geinteresseerd in?'} %}
    {% endif %}
{% endblock main %}
